

    <section>
        <div class="wrapper">
            <div class="button">
                <div class="icon">
                    <fa-icon [icon]="faInstagram"> </fa-icon>
                </div>
                <span>Instagram</span>
            </div>
    
            <div class="button">
                <div class="icon">
                    <fa-icon [icon]="faFacebook"> </fa-icon>
                </div>
                <span>Facebook</span>
            </div>
    
            <div class="button">
                <div class="icon">
                    <fa-icon [icon]="faTwitter"> </fa-icon>
                </div>
                <span>Twitter</span>
            </div>
    
            <div class="button">
                <div class="icon">
                    <fa-icon [icon]="faLinkedin"> </fa-icon>
                </div>
                <span>LinkedIn</span>
            </div>
    
            <div class="button">
                <div class="icon">
                    <fa-icon [icon]="faYoutube"> </fa-icon>
                </div>
                <span>YouTube</span>
            </div>
    
            <div class="button">
                <div class="icon">
                    <fa-icon [icon]="faGithub"> </fa-icon>
                </div>
                <span>Github</span>
            </div>
        </div>
    </section>



    
