<div class="container">
    <form > 
    
      <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
            <mat-icon matPrefix>email</mat-icon>
          <mat-label>email</mat-label>
          <input class="form-control"  type="email" matInput  formControlName="email" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
            <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-label>password</mat-label>
          <input class="form-control"  type="password" matInput formControlName="password" type="password" required>
        </mat-form-field>
      </div>
  
      <div>
      
    
      <button  mat-raised-button color="primary" >
       sign in
        </button>
     
    </div>
  </form>
    </div>