
<div class="container">
    <div>
      <mat-form-field  appearance="outline" color="primary">
          <mat-icon matPrefix>person_outline</mat-icon>
        <mat-label>name</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </div>
  
    <div>
      <mat-form-field appearance="outline" color="primary">
          <mat-icon matPrefix>person_outline</mat-icon>
        <mat-label>surname</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </div>
  
    <div>
      <mat-form-field appearance="outline" color="primary">
          <mat-icon matPrefix>email</mat-icon>
        <mat-label>email</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" color="primary">
          <mat-icon matPrefix>lock_outline</mat-icon>
        <mat-label>password</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" color="primary">
          <mat-icon matPrefix>elderly</mat-icon>
        <mat-label>age</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </div>
  
    <div>
      <mat-form-field appearance="outline" color="primary">
          <mat-icon matPrefix>phone</mat-icon>
        <mat-label>phone Number</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </div>
  
    <button mat-raised-button color="primary" >
     sign up
      </button>
  </div>
  